.about-content{
  /* background-color: ; */
   background: transparent; /* Fully transparent background */
  backdrop-filter: blur(10px); /* Slight blur for modern effect */
  /* border: 1px solid rgba(255, 255, 255, 0.1);  */
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background:rgba(23, 23, 23, 0.1);;
}

.about-section {
  padding: 80px 20px;
  background: #0d0d0d;
  color: #fff;
  display: flex;
  justify-content: center;
  
}

.about-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image{
   position: relative;
  width: 30%;
  margin-top: 100px;
  height: 50vh;
  overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    
}

.about-image img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s ease;
}

.about-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #0ff, 0 0 60px #0ff, 0 0 90px #0ff;
}

.about-content {
  flex: 1;
  min-width: 300px;
}

.about-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0ff;
}

.about-intro {
  font-size: 1.1rem;
  line-height: 1.6;
}

.highlight {
  color: #ff4081;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    display: none;
  }
  .about-image {
    display: none;
  }

  .about-content h1 {
    font-size: 20px;
  }


  .about-content p {
    font-size: 14px;
  }
  
}
