.contact-section {
padding: 60px 20px;
background: #0a0a0a;
color: #fff;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: space-evenly;

}

.contact-container {
display: flex;
flex-wrap: wrap;
gap: 40px;
max-width: 1000px;
width: 100%;
}

.contact-info {
flex: 1;
min-width: 280px;
/* background: #1a1a1a; */
padding: 30px;
border-radius: 12px;
/* box-shadow: 0 0 20px rgba(0,0,0,0.5); */
}

.contact-info h2 {
font-size: 28px;
margin-bottom: 15px;
}

.contact-info span {
color: #00f6ff;
}

.contact-info p {
margin-bottom: 20px;
line-height: 1.6;
}

.social-icons a {
margin-right: 15px;
display: inline-block;
}

.social-icons img {
width: 35px;
height: 35px;
filter: invert(1);
transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img:hover {
transform: scale(1.2);
filter: drop-shadow(0 0 8px #00f6ff);
}

/* Contact Form */
.contact-form {
/* flex: 1; */

min-width: 280px;
background: #1a1a1a;
padding: 30px;
border-radius: 12px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.contact-form .form-group {
display: flex;
gap: 15px;
margin-bottom: 20px;
flex-wrap: wrap;
}

.input-box {
flex: 1;
display: flex;
flex-direction: column;
}

.input-box input {
padding: 10px 12px;
border-radius: 6px;
border: none;
background: #0a0a0a;
color: #fff;
outline: none;
}

.input-box label {
margin-bottom: 5px;
font-weight: 500;
}

.message-box textarea {
width: 100%;
padding: 10px 12px;
border-radius: 6px;
border: none;
background: #0a0a0a;
color: #fff;
resize: none;
outline: none;
}

.submit-btn {
    margin-top: 10px;
background: #b8baba;
color: #000;
padding: 12px 25px;
border: none;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
transition: background 0.3s ease;
}

.submit-btn:hover {
background: #f1f7f6;
}

.form-status {
margin-top: 10px;
font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
.contact-container {
flex-direction: column;
}
}
